<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <link href="/css/styleG.css" rel="stylesheet">

                <meta charset="UTF-8"> </meta>
                <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>


                <title>Locais</title>

      
                </head>


                <header>
                    <div class="container1">
                        <div class="container2">
                            <nav class="nav-bar">

                                <div class="logo">
                                    <a th:href="@{/}"> <img th:src="@{imgs/logo-red.png}" alt="logo" width="150px" height="50px">
                                    </a>
                                </div>

                                <div class="nav-list">
                                    <ul>
                                        <li class="nav-item"><a class="links" th:href="@{/campanha}"> MINHA CAMPANHA </a></li>
                                    </ul>
                                </div>



                                <div class="mobile-menu-icon">
                                    <button onclick="menuShow()"><img class="icon" th:src="@{imgs/icon-hmgr.png}"></button>
                                </div>
                            </nav>

                            <div class="mobile-menu">
                                <ul>
                                    <li class="nav-item"><a class="links" href="campanha.html"> MINHA CAMPANHA </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </header>


                <body>
<body>

    <!--==========NAVEGAÇÃO==========-->

  
                    <div class="container1">
                        <nav class="nav-bar2">

                            <div class="nav-list2">
                                <ul>
                              <li class="nav-item2"><a class="links2" href="/notas"> ANOTAÇÕES </a></li>
                                <li class="nav-item2"><a class="links2" href="/npcs"> NPC's </a></li>
                                <li class="nav-item2"><a class="links2" href="/locais"> LOCALIDADES </a></li>
                                </ul>
                            </div>


                            <div class="mobile-menu2-icon">
                                <button onclick="menuSelect()"><img class="icon2" th:src="@{imgs/icon-hmgr.png}"></button>
                            </div>
                        </nav>

                        <div class="mobile-menu2">
                            <ul>
                              <li class="nav-item2"><a class="links2" href="/notas"> ANOTAÇÕES </a></li>
                                <li class="nav-item2"><a class="links2" href="/npcs"> NPC's </a></li>
                                <li class="nav-item2"><a class="links2" href="/locais"> LOCALIDADES </a></li>
                            </ul>
                        </div>
                    </div>

    <!--==========FORMULÁRIO==========-->

    <div class="container2">
        <form th:action="@{/salvarNota}" th:object="${notas}" method="POST" class="form-anotacoes" >

            <div>
                <label class="links2" for="nome">Nome:</label>
                <input field="*{nome}" name="nome" type="text" class="form-control" id="anotacaoNome">
            </div>

            <br>

            <div>
                <label class="links2" for="corpo">Anotação:</label>
                <textarea field="*{corpo}" name="corpo"  type="text" class="form-control" id="anotacaoCorpo"> </textarea>
            </div>

            <br>

            <div class="centralizado">
                <button class="btn btn-secondary" type="submit">Salvar</button>
            </div>

            <br>
        </form>
    </div>


    <!--==========REGISTROS==========-->

    <div class="container3 text-start">
        <div class="containerRegistro row align-items-center " th:each="notas : ${listarNotas}">

            <div class="col-md-2 links2">
                <span>Nota: </span> <span th:text="${notas.nome}"> </span>
            </div>

            <div class="col-md-9 links2">
                <span>Corpo: </span><span th:text="${notas.corpo}"></span>
            </div>

            <div class="col-md-1 links2">
                <a th:href="@{/deletarNota/{id}(id=${notas.id})}"  id="btn-apagar" class="btn btn-danger">Apagar</a>
            </div>

               <br>
               <hr>
               <br>
        </div>
    </div>







</body>

                <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js}" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
                <script th:src="@{/js/script.js}"></script>
</html>